@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

html {
  height: 100%;
}



.page-container {
  min-height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.index-main {
  flex-grow: 1;
}

/* header */

.page-header {
  min-height: 203px;
  width: 1160px;
  margin: 0 auto;

  position: relative;

  background: linear-gradient(#ffffff 40px, #FFE17F 0%);

  padding: 83px 60px 0;
      margin-bottom: -32px;
}

.header-logo-link {
  display: block;

  position: absolute;
  top: 15px;
  left: 58px;

  padding: 2px;
}

.header-logo-link:hover {
  opacity: 0.6;
}

.header-logo-link:focus {
  outline: 2px solid #AF4FFF;
}

.header-logo-link:active {
  opacity: 0.3;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 30px;
}

.nav-container:last-child {
  margin-bottom: 13px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.user-nav-item {
  position: relative;

  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  align-items: center;

  margin-right: 26px;
}

.user-nav-item:last-child {
  margin-right: 0;
}

.user-nav-search {
  display: flex;
  flex-wrap: wrap;
}

.nav-search-input {
  background-color: transparent;
  border-radius: 50px 0px 0px 50px;
  border: 2px solid #000;

  padding: 8px 0 8px 48px;
  min-width: 359px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.nav-search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input-container {
  position: relative;
}

.search-input-container::before {
  content: url("../images/icons/search.svg");

  width: 16px;
  height: 16px;

  position: absolute;
  top: 10px;
  left: 16px;
}

.nav-search-input:disabled {
  opacity: 0.3;
}

.nav-search-input:focus {
  outline: none;
}

.search-input-container:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f,
  0 0 0 4px #AF4FFF;
}

.nav-search-button {
  background-color: transparent;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000;
  border-left: none;

  padding: 8px;
  min-width: 160px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
}

.nav-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.nav-search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.nav-search-button:focus {
  outline: none;
}

.search-button-container:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f,
  0 0 0 4px #AF4FFF;
}


.nav-button {
  background-color: transparent;
  border: none;

  padding: 2px;

  font-family: inherit;
  font-size: 18px;
  line-height: 30px;

  cursor: pointer;
}

.nav-button:hover {
  opacity: 0.6;
}

.nav-button:focus {
  outline: 2px solid #AF4FFF;
}

.nav-button:active {
  opacity: 0.3;
}

.nav-login-button {
  padding-left: 27px;
  background-image: url("../images/icons/login.svg");
  background-size: 15px 12px;
  background-repeat: no-repeat;
  background-position: 0 9px;
}

.nav-compare-button {
  padding-left: 22px;
  background-image: url("../images/icons/compare.svg");
  background-size: 10px 12px;
  background-repeat: no-repeat;
  background-position: 2px 9px;
}

.nav-cart-button {
  padding-left: 28px;
  background-image: url("../images/icons/cart.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: 2px 6px;
}

.nav-cart-number {
  position: absolute;
  top: 7px;
  left: -15px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.left-nav-list {
  margin-left: auto;
}

.primary-nav-item {
  list-style-type: none;

  margin-right: 38px;
}

.primary-nav-item:last-child {
  margin-right: 0;
}

.primary-nav-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;

  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  line-height: 20px;

  padding: 2px 2px;
}

.primary-nav-link:hover {
  opacity: 0.6;
}

.primary-nav-link:focus {
  outline: 2px solid #AF4FFF;
}

.primary-nav-link:active {
  opacity: 0.3;
}

.primary-nav-link-current {
  border-bottom: 2px solid black;
}

.catalog-nav-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 2px;
}

.catalog-nav-container .primary-nav-link {
  margin-right: 7px;
}

.catalog-nav-container .primary-nav-link:focus {
  outline: none;
}

.catalog-nav-container:focus-within {
  outline: 2px solid #AF4FFF;
}

.catalog-nav-container:focus-within > .catalog-popup {
  display: block;
}

.catalog-popup-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  border: 2px solid #000000;
  background-color: transparent;
  opacity: 0.3;

  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: 16px 16px;

  cursor: pointer;
}

.catalog-open-button {
  background-image: url("../images/icons/minus.svg");
}

.catalog-popup-button:hover {
  opacity: 1;
}

.catalog-popup-button:focus {
  outline: none;
}

.catalog-popup {
  display: none;

  background-color: #FFE17F;

  position: absolute;
  top: 64px;
  left: -60px;

  width: 1160px;

  z-index: 1;
}

.catalog-opened {
  display: block;
}

.catalog-popup-content {
  display: grid;
  grid-template-columns: 222px 211px 211px;
  column-gap: 30px;

  padding: 0 60px 27px;
}

.category-column-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-item {
  margin-bottom: 20px;
}

.category-link {
  text-decoration: none;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.category-link:hover {
  opacity: 0.6;
}

.category-link:focus {
  outline: 2px solid #AF4FFF;
}

.category-link:active {
  opacity: 0.3;
}

.category-link-current {
  border-bottom: 1px solid #000000;
}
/* end of header */

/* footer */
.page-footer {
  background-color: #444444;

  padding: 61px 0;

}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;

  display: flex;
}
.footer-logo-container {
  width: 1160px;
  margin: 0 auto;
}
.footer-logo-link {
  display: inline-block;
  padding: 2px;
  margin-bottom: 30px;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-adress {
  margin-bottom: 64px;
}

.footer-adress-link {
  display: block;
  width: 240px;

  color: #ffffff;

  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-adress-link:hover {
  color: #FFC700;
}

.footer-adress-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-adress-link:active {
  color: rgba(255, 200, 0, 0.3);
}

.decor-rectangle {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.nav-socials-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;

  padding-right: 75px;

  display: flex;
  flex-wrap: wrap;
}

.nav-footer-item {
  margin-right: 25px;
}

.nav-footer-item:last-child {
  margin-right: 0;
}

.nav-footer-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;

  padding: 2px;
}

.nav-footer-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.nav-footer-link:focus {
  outline: 2px solid #AF4FFF;
}

.nav-footer-link:active {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  opacity: 0.3;
}

.socials-footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 65px;

  display: flex;
  flex-wrap: wrap;
}

.socials-footer-item {
  margin-right: 10px;
}

.socials-footer-item:last-child {
  margin-right: 0;
}

.socials-footer-link {
  text-decoration: none;

  display: block;
  padding: 2px;
}

.socials-footer-link svg {
  display: block;
}

.socials-footer-link:hover svg circle{
  fill-opacity: 1;
  fill: #FFC700;
}

.socials-footer-link:focus {
  outline: 2px solid #AF4FFF;
}

.socials-footer-link:active svg circle{
  fill-opacity: 1;
  fill: #FFC700;
}

.socials-footer-link:active svg path{
  fill-opacity: 0.3;
}

.phone-logo-container {
  display: flex;
  flex-direction: column;
  align-items:end
}

.mobile-footer-link {
  display: block;

  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  padding: 2px 0;
  margin-bottom: 52px;
}

.mobile-footer-link:hover {
  color: #FFC700;
}

.mobile-footer-link:focus {
  outline: 2px solid #AF4FFF;
}

.mobile-footer-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.developer-footer-link {
  display: block;
  padding: 2px;
}

.developer-footer-link svg {
  display: block;
}

.developer-footer-link:hover svg path{
  fill: #ffffff;
}

.developer-footer-link:focus {
  outline:2px solid #AF4FFF;
}

.developer-footer-link:active svg path{
  fill: #ffffff;
  fill-opacity: 0.3;
}

/* index main */


/* slider */
.main-slider {
  width: 1160px;
  margin: 0 auto;

  position: relative;

  display: flex;

  margin-bottom: 70px;
}

.main-slider:before {
  content: "";
  background-color: #FFE17F;
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;

  z-index: -1;
}

.image-container {
  margin-right: 40px;
  position: relative;
}

.main-slider-image {
  display: block;
}

.slider-arrow {
  margin: 0;
  padding: 0;
  border: none;

  width: 24px;
  height: 64px;

  background-color: transparent;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 60px;
}

.slider-left-arrow {
  transform: rotate(180deg);
}
.slider-arrow-container {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.slider-arrow:hover {
  opacity: 0.6;
}

.slider-arrow:focus {
  outline: 2px solid #AF4FFF;
}

.slider-arrow:active {
  opacity: 0.3;
}

.description-container {
  padding-top: 123px;
}

.slogan-desc-slider {
  display: inline-block;

  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: -0.4px;;

  position: relative;
}

.slogan-desc-slider:before {
  content: "01";
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;

  display: block;

  position: absolute;
  z-index: -1;
  left: 300px;
  top: -40px;
}

.desc-desc-slider {
  margin: 0;
  padding: 0;
  margin-bottom: 51px;

  font-family: inherit;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.slider-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 49px;
}



.details-desc-link {
  min-width: 220px;
}

.details-desc-link:focus {
  outline: 2px solid #AF4FFF;
}

.slider-nav-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.slider-dot {
  padding: 0;
  margin: 0;

  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;

  cursor: pointer;
}

.slider-dot-container {
  margin-right: 15px;
  padding: 2px;
}

.slider-dot-container:last-child {
  margin-right: 0;
}

.slider-dot-active {
  background-color: #000000;;
}

.slider-dot:hover {
  opacity: 0.6;
}

.slider-dot:focus {
  outline: none;
}

.slider-dot-container:focus-within {
  outline: 2px solid #AF4FFF;
}

.slider-dot:active {
  opacity: 0.3;
}


.slider-desc-container {
  display: flex;
  flex-wrap: wrap;
}

.slider-desc-list {
  margin: 0;
  margin-right: 20px;

}

.slider-desc-value {
  font-family: inherit;
  font-size: 36px;
  line-height: 30px;

  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.slider-desc-parameter {
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
}

/* categories */
.categories {
  width: 1160px;
  margin: 0 auto;
}

.main-category-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;

  margin-bottom: 70px;
}

.main-category-item {
  padding-bottom: 13px;
}

.main-category-link {
  display: block;
  text-decoration: none;
}

.main-category-title {
  margin: 0;
  padding: 0;

  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.main-category-image {
  display: block;
  background-color: #FFE17F;

  margin-bottom: 35px;
}

.main-category-link:hover .main-category-image {
  background-color: #FFC700;
}

.main-category-link:focus {
  outline: none;
}

.main-category-item:focus-within {
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 4px #AF4FFF;
}

.main-category-link:active {
  opacity: 0.3;
}
/* services */
.services {
  background: linear-gradient(#ffffff 102px, #F0F0F0 0%);

  margin-bottom: 70px;
  padding-bottom: 72px;
}

.services-container {
  width: 1160px;
  margin: 0 auto;

  display: flex;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  position: relative;

  width: 287px;
  padding: 64px 7px 64px 0;

  display: flex;
  flex-direction: column;
}

.service-list::after {
  content: "";
  width: 7px;
  height: 100%;
  background-color: #000000;
  position: absolute;
  right: 0;
  top: 0;
}

.service-item {
  margin-bottom: 35px;
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-button {
  margin: 0;

  border: none;

  cursor: pointer;
}

.service-button:not(.button-link-active) {
  background-color: transparent;
   width: 160px;
}


.service-description {
  padding: 72px 62px 72px 116px;
  flex-grow: 1;
  position: relative;


  background-image: url("../images/bg-icons/delivery-man.png");
  background-repeat: no-repeat;
  background-position: 674px 77.5px;
  background-size: 136px 164px;

}

.service-desc-title {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.service-desc-desc {
  margin: 0;

  max-width: 452px;

  line-height: 30px;
  letter-spacing: -0.3px
}

.rare-delivery {
  margin-bottom: 70px;
}

.rare-delivery-link {
  text-decoration: none;
  color: #000000;

  width: 1160px;
  margin: 0 auto;

  display: flex;
  align-items: center;

  padding: 0 42px 0 0;

  background-color: #F0F0F0;      
}

.rare-delivery-link:hover .delivery-car-container {
  background-color: #FFC700;
}

.rare-delivery-link:hover .info-delivery-button svg {
  opacity: 1;
}

.rare-delivery-link:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 4px #AF4FFF;
}

.rare-delivery-link:active {
  opacity: 0.3;
}

.delivery-car-container {
  width: 125px;
  height: 100px;
  
  background-color: #FFE17F;
  background-image: url("../images/bg-icons/delivery-car.svg");
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: 39px 35px;
}

.rare-delivery-title {
  margin: 0;
  padding: 38.5px 42.5px;

  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;

  flex-grow: 1;
  margin-right: 42.5px;
}

.info-delivery-button {
  position: relative;

  border: none;
  margin: 0;
  padding: 0;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.50);

  cursor: pointer;
}

.info-delivery-button svg {
  opacity: 0.3;

  position: absolute;
  top: 14px;
  left: 19px;
}

.info-company {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;

  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;
  justify-content: start;
  align-items: start;
}

.info-company-part {
  display: grid;
  row-gap: 30px;

  padding-top: 47px;

  position: relative;
}

.info-company-part::before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;

  position: absolute;
  top: 0;
  left: 0;
}

.info-company-title {
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.info-company-subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
}

.info-company-text {
  margin: 0;
  padding: 0;

  font-family: inherit;
  line-height: 30px;
  color: #444444;
}

.transport-list {
  list-style-image: url(../images/bg-icons/list-dot.svg);
  margin: 0;
  padding: 0;
  padding-left: 20px;

}

.transport-item {
  font-family: inherit;
  font-weight: 700;
  line-height: 20px; 
  letter-spacing: -0.36px;
  
  padding-left: 15px;
  margin-bottom: 19px;
}

.transport-item:last-child {
  margin-bottom: 0;
}

.info-company-adress-link {
  text-decoration: none;
  font-style: normal;
  color: #444444;
}

.info-company-phone-link {
  color: #444444;
}

.phone-number {
  line-height: 30px;
}

.work-time-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-us-link {
  width: 270px;
}

.contacts-link {
  width: 260px;
}

.subscribe {
  background-color: #F0F0F0;
  padding: 64px 0 56px 0;
}

.subscribe-container {
  width: 1160px;
  margin: 0 auto;
}

.subscribe-desc-container {
  display: flex;
  margin-bottom: 144px;
}

.subscribe-title {
  margin: 0;
  padding: 0;
  margin-right: 255px;

  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.subscribe-desc {
  font-family: inherit;
  line-height: 30px;
  margin: 0;
  padding-top: 10px;
  letter-spacing: -0.3px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
display: block;

  border: none;
  border-bottom: 3px solid #C4C4C4;

  background-color: transparent;

  padding: 11px 16px;
  width: 558px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.subscribe-input::placeholder {
  color: rgba(69, 69, 69, 0.5);
}

.subscribe-input:hover {
  background-color: #DCDCDC;
}

.subscribe-input:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 4px #AF4FFF;
}

.subscribe-input:disabled {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3)
}
.subscribe-button {
  border: 3px solid #C4C4C4;
  background-color: transparent;
  padding: 16px 35px;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  cursor: pointer;
}

.subscribe-button:hover {
  border-color: #000000;
}

.subscribe-button:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 4px #AF4FFF;
}

.subscribe-button:active {
  opacity: 0.3;
}

.subscribe-button:disabled {
  border-color: #E5E5E5;
}

.subscribe-note {
  display: block;
  margin-left: auto;

  font-family: inherit;
  line-height: 30px;
  
  padding-left: 32px;
  position: relative;

  align-self: center;
}

.subscribe-note::before {
  content: url("../images/bg-icons/tick-big.svg");

  width: 16px;

  position: absolute;
  top: 3px;
  left: 0;
}

/* modal window */
.modal {
  position: absolute;
  top: 610px;
  left: 50%;
  transform: translate(-50%);


}

.modal-content {
  width: 920px;
  margin: 0 auto;
  padding: 72px 80px;
  border: 10px solid #000000;
  background-color: #ffffff;
}

.modal-form {
  margin: 0;
  padding: 0;

  display: grid;
  row-gap: 42px;
  column-gap: 40px;

  grid-template-columns: 360px 140px 180px;
  grid-template-areas: "title title close"
                        "name email email"
                        "order order quantity"
                        "submit . .";
  align-items: center;
}

.modal-title {
  margin: 0;
  padding: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;

  grid-area: title;
}

.modal-close {
  padding: 2px;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;

  grid-area: close;

  margin-left: auto;

  cursor: pointer;
}

.modal-close:hover {
  opacity: 0.6;
}

.modal-close:focus {
  outline: 2px solid #AF4FFF;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-fieldset {
  display: flex;
  flex-direction: column;

  border: none;
  padding: 0;
  margin: 0;
}

.your-name {
  grid-area: name;
  align-self:  flex-start;
}

.your-email {
  grid-area: email;
}

.email-input {
  background-image: url("../images/bg-icons/mail.svg");
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: 325px;

  position: relative;
}

.email-input-note {

  color: #000000;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;

}

.email-input.standart-input-error ~ .email-input-note {
    color: #FF3D3D;
}

.your-order {
  grid-area: order;
}

.your-quantity {
  grid-area: quantity;
}

.modal-label {
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;

  margin-bottom: 14px;
}

.modal-input {
  display: block;

  border: 2px solid transparent;
  background-color: rgba(240, 240, 240, 1);

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  padding: 20px;
}



.number-input-container {
  position: relative;
}

.number-input {
  width: 180px;
  padding: 20px 60px;
  text-align: center;
}

.button-number {
  width: 60px;
  height: 60px;

  background-color: rgba(255, 255, 255, 0);

  position: absolute;

  border: none;

  cursor: pointer;
}

.button-minus {
  top: 0;
  left: 0;
}

.button-plus {
  top: 0;
  right: 0;
}

.your-quantity .modal-label {
  margin-right: 8px;
  margin-bottom: 0;
}

.label-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 11px;

  position: relative;
}

.info-quantity {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background-color: #FFE17F;
  background-image: url(../images/bg-icons/info.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4px 12px;

  cursor: pointer;
}

.info-quantity:hover ~ .info-popup {
  display: block;
}

.info-quantity:focus {
  outline: none;
}

.info-quantity:focus ~ .info-popup {
  display: block;
}

.info-popup {
  display: none;

  position: absolute;
  top: 35px;
  left: -20px;

  z-index: 1;
}

.info-popup::before {
  content: "";

  width: 14px;
  height: 6px;
  position: absolute;
  top: -6px;
  left: 144px;

  background-image: url("../images/bg-icons/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 6px;
}

.info-quantity-content {
  width: 202px;
  padding: 19px 19px;
  background-color: #000000;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.modal-submit-button {
  width: 200px;
  grid-area: submit;
}

/* common styles for buttons, links, inputs */
.button-link {
  position: relative;

  display: inline-block;

  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px 5px;

  z-index: 0;
}

.button-link::before {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  z-index: -1;
}

.button-link:hover::before {
  height: 100%;
}

.button-link:focus {
  outline: 2px solid #AF4FFF;
}

.button-link:active::before {
  background-color: #FFCC33;
}

.button-link-active {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: left;

  padding: 10px 18px;

  background-color: #000000;
  color: #FFE17F;
  width: 280px;

}

.button-link-active:hover {
  color: rgba(255, 225, 127, 0.50);
}

.button-link-active:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 4px #AF4FFF;
}

.button-link-active:active {
  color: rgba(255, 225, 127, 0.30);
}

.standart-input::placeholder {
  color: rgba(69, 69, 69, 0.5);
}

.standart-input:hover {
  background-color: #DCDCDC;
}

.standart-input:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 4px #AF4FFF;
}

.standart-input:disabled {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3)
}

.standart-input-error {
  border-color: #FF3D3D;
}

